@use '@angular/material' as mat;
@use './pm-palettes' as pm-palettes;

@include mat.core();

$light-theme: mat.m2-define-light-theme((
  color: (
    primary: pm-palettes.$pm-primary-palette,
    accent: pm-palettes.$pm-accent-palette,
    warn: pm-palettes.$pm-warn-palette,
  ),
  density: -1,
));

$dark-theme: mat.m2-define-dark-theme((
  color: (
    primary: pm-palettes.$pm-primary-dark-palette,
    accent: pm-palettes.$pm-accent-palette,
    warn: pm-palettes.$pm-warn-palette,
  ),
));
